.authForm {
    width: 100%;
    @include media(mobile) {
        width: 323px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.formLabel {
    padding: 12px 18px;
    border-radius: 20px;
    border: 1px solid $light-gray;
}

.passwordError {
    @include font(12,16);
    color: $red;
    text-align: center;
}

.form > button {
    padding: 12px 18px;
    border-radius: 20px;
    border: none;
    background-color: $green;
    color: $white;
    margin-top: 10px;
}

.form > a {
    text-align: center;
    color: $gray;
}

.error {
    text-align: center;
    border: 1px solid $red;
    border-radius: 32px;
    padding: 8px 0;
}

.error > p {
    color: $red;
}

.alternative {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.alternative>p {
    @include font(14, 18);
    @include media(mobile) {
        @include font(16, 20)
    }
}

.alternative span {
    color: $green;
    cursor: pointer;
}

.guestButton {
    width: 200px;
    padding: 12px 18px;
    border-radius: 20px;
    background-color: $light-gray;
    border: none;
}